aggTrades_2020_2024/

# Ignore all CSVs by default
*.csv

# Except these specific CSV files you want to track (un-ignore them)
!aggTrades_aggregated_1h.csv
!SIGNALS_THRESHOLD_100.csv
!BTC_USDT_1min_since_2020.csv
!BTC_USDT_1h_(2020-2024)-TRAIN.csv
!BTC_USDT_1h_(2024-2025)-TEST.csv

# Other ignores
__pycache__/
*.py[cod]
*.log
*.zip
*.sqlite
.ipynb_checkpoints/
env/
venv/
.venv/
.env/
